.header,
.footer,
.title {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.footer {
  margin-top: 5vh;
  justify-content: space-between;
}
.footer span {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-family: var(--font-mono);
}
.footer span a,
.header a {
  padding: 1px 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in;
}
.footer span a:hover,
.header a:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
